<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="http://tickets.jesse-brightman.com/Home/Index">
                    <img src="~/Content/Images/ticketline_dark.png" style="height: 50px" class="navbar-brand" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="http://tickets.jesse-brightman.com/Home/Index">Event Details</a></li>
                    <li>
                        @Html.ActionLink("View Attendees", "ViewAttendees", "Home", new { area = "" }, new { @class = "" })
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content jumbotron">
        <img src="~/Content/Images/ticketline_dark.png" style="height:100px"/>
        <hr />
        </div>
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>

    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>